<div class="container">
  <div class="row">
    <div class="col-12 blue darken-4 text-white py-3">
      <span class="h5">
        <i class="fas fa-compact-disc mr-2"></i>
        <!-- <i class="fas fa-list-ul mr-2"></i> -->
        2018年秋“前沿课堂”光盘征订
      </span>
    </div>
  </div>

  <div class="row px-1">
    <!-- <div class="col-12 rounded my-3 p-3 shadow border-left border-info" style="border-left-width:5px !important;">
        点击相应学科线上报名
    </div> -->

    <div class="col-12 rounded my-3 py-3 border">
      <%= link_to "https://jinshuju.net/f/pJL607", class: "inline-block" do %>
        <h5 class="">数学光盘征订</h5>
        <p class="m-0">2018年秋全国小学数学前沿课堂观摩研训会</p>
      <% end %>
    </div>

    <div class="col-12 rounded mb-3 py-3 border">
      <%= link_to "https://jinshuju.net/f/OUGk9N", class: "inline-block" do %>
        <h5 class="">英语光盘征订</h5>
        <p class="m-0">2018年秋全国小学英语前沿课堂观摩研训会</p>
        <p class="m-0">2018年秋全国初中英语前沿课堂观摩研训会</p>
        <p class="m-0">2018年全国高中英语新课标前沿课堂观摩研训会</p>
      <% end %>
    </div>

    <div class="col-12 rounded mb-3 py-3 border">
      <%= link_to "https://jinshuju.net/f/LB9WCe", class: "inline-block" do %>
        <h5 class="">语文光盘征订</h5>
        <p class="m-0">2018年“前沿课堂”全国小学语文“统编”教材教学观摩研训会</p>
        <p class="m-0">2018年“前沿课堂”全国初中语文“统编”教材教学观摩研训会</p>
        <p class="m-0">2018年全国高中语文新课标前沿课堂教学观摩研训会</p>
      <% end %>
    </div>

    <%= link_to "https://qianyan.sflx.com.cn/dvd_results?period=2018", class: "btn btn-primary btn-lg btn-block mb-3" do %>
      2018年秋季已征订查询
    <% end %>

  </div>

  <%= link_to "返回", "/order_dvd", class: "btn btn-secondary" %>
</div>
