<div class="container-fluid">
  <div class="row">
    <div class="col-12 blue darken-4 text-white py-3">
      <span class="h4">2018年秋季“前沿课堂”线上报名</span>
    </div>
    <div class="rounded m-3 p-3 shadow border-left border-info">

        点击相应学科线上报名

    </div>


    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <%= link_to "小学英语", "http://www.qiye168.com.cn/ws/wx/index?ws=25", class: "inline-block" %>
      </li>
      <li class="list-group-item">
        <%= link_to "小学数学", "http://www.qiye168.com.cn/ws/wx/index?ws=24", class: "inline-block" %>
      </li>
      <li class="list-group-item">
        <%= link_to "小学语文", "http://www.qiye168.com.cn/ws/wx/index?ws=1", class: "inline-block" %>
      </li>
      <li class="list-group-item">
        <%= link_to "初中英语", "http://www.qiye168.com.cn/ws/wx/index?ws=26", class: "inline-block" %>
      </li>
      <li class="list-group-item">
        <%= link_to "高中英语", "http://www.qiye168.com.cn/ws/wx/index?ws=27", class: "inline-block" %>
      </li>
      <li class="list-group-item">
        <%= link_to "初中语文", "http://www.qiye168.com.cn/ws/wx/index?ws=2", class: "inline-block" %>
      </li>
      <li class="list-group-item">
        <%= link_to "高中语文", "http://www.qiye168.com.cn/ws/wx/index?ws=3", class: "inline-block" %>
      </li>
    </ul>
  </div>
</div>
