<div class="container">
  <div class="row">
    <div class="col-12 blue darken-4 text-white py-3">
      <span class="h5">
        <i class="fas fa-list-ul mr-2"></i>
        <!-- <i class="fas fa-compact-disc mr-2"></i> -->
        2018年秋“前沿课堂”光盘征订查询
      </span>
    </div>
  </div>
  <hr class="px-1 border-0">
  <div class="row">
    <% if @openid_results.count < 1 %>
      <div class="col-12 rounded my-3 p-3 shadow border-left border-info" style="border-left-width:5px !important;">
    	   您尚未提交报名信息，请在“前沿报名”进行提交。
       </div>
    <% end %>

  	<% @openid_results.each do |result| %>
	    <% values = Entry.new(result: result).values %>
      <% index_names = %w(姓名 序号 确认码 提交时间) %>
      <% %w(广西区内报名 广西区外报名 作品评审费 光盘征订).each {|name| index_names << name if values[name].to_s.match(/\d/) } %>
	    <div class="card col-12 px-0">
        <div class="card-header">
          <span class="h5"><%= result.form_name %></span>
        </div>
        <div class="card-body">
          <!-- <div class="card-title h5"><%= result.form_name %></div> -->
      		<div class="card-text">
            <% index_names.each do |name| %>
              <p>
    				    <%= tag.b("#{name}:") %>
                <%= compile_value(values[name])%>
              </p>
            <% end %>

      			<%= link_to '查看详情',{ controller: "dvd_results",action: 'show', id: result,  subject: result.class.name}, class: "waves-effect waves-light btn blue darken-1 white-text" %>
      		</div>
        </div>
	    </div>

  	<% end %>
  	<%# link_to '返回',  root_path, class: "waves-effect waves-light btn blue darken-1 white-text" %>
  </div>
</div>
